<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <title>Geobilgi CMMS Dashboard</title>
    <meta content="Admin Dashboard" name="description" />
    <meta content="ThemeDesign" name="author" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <link rel="shortcut icon" href="images/favicon.ico">

    <!--Morris Chart CSS -->
    <link rel="stylesheet" href="plugins/morris/morris.css">

    <link href="~/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="~/css/icons.css" rel="stylesheet" type="text/css">
    <link href="~/css/style.css" rel="stylesheet" type="text/css">
</head>
<body class="fixed-left">

    <!-- Loader -->
    <div id="preloader"><div id="status"><div class="spinner"></div></div></div>

    <!-- Begin page -->
    <div id="wrapper">

        <!-- ========== Left Sidebar Start ========== -->
        <div class="left side-menu">
            <button type="button" class="button-menu-mobile button-menu-mobile-topbar open-left waves-effect">
                <i class="ion-close"></i>
            </button>

            <div class="left-side-logo d-block d-lg-none">
                <div class="text-center">

                    <a href="index.html" class="logo"><img src="images/logo-dark.png" height="20" alt="logo"></a>
                </div>
            </div>

            <div class="sidebar-inner slimscrollleft">

                <div id="sidebar-menu">
                    <ul>
                        <li class="menu-title">Menü</li>

                        <li>
                            <a href="Dashboard" class="waves-effect">
                                <i class="dripicons-meter"></i>
                                <span> Dashboard <span class="badge badge-success badge-pill float-right">3</span></span>
                            </a>
                        </li>

                        <li>
                            <a href="Asset" class="waves-effect">
                                <i class="dripicons-briefcase"></i>
                                <span> Varlıklar <span class="badge badge-success badge-pill float-right"></span></span>
                            </a>
                        </li>

                        <li>
                            <a href="ActivityLog" class="waves-effect">
                                <i class="dripicons-checklist"></i>
                                <span> Hareketler <span class="badge badge-success badge-pill float-right"></span></span>
                            </a>
                        </li>

                           <li>
                            <a href="Asset" class="waves-effect">
                                <i class="dripicons-document"></i>
                                <span> Kontratlar <span class="badge badge-success badge-pill float-right"></span></span>
                            </a>
                        </li>


                        <li>
                            <a href="Asset" class="waves-effect">
                                <i class="dripicons-user-group"></i>
                                <span> Çalışanlar <span class="badge badge-success badge-pill float-right"></span></span>
                            </a>
                        </li>
                   
                        <li>
                            <a href="Asset" class="waves-effect">
                                <i class="fa fa-drivers-license-o"></i>
                                <span> Roller <span class="badge badge-success badge-pill float-right"></span></span>
                            </a>
                        </li>
                        
                        <li>
                            <a href="Asset" class="waves-effect">
                                <i class="dripicons-location"></i>
                                <span> Konumlar <span class="badge badge-success badge-pill float-right"></span></span>
                            </a>
                        </li>
                         
                        <li>
                            <a href="Asset" class="waves-effect">
                                <i class="dripicons-to-do"></i>
                                <span> Bakım Görevleri <span class="badge badge-success badge-pill float-right"></span></span>
                            </a>
                        </li>
                            
                        <li>
                            <a href="Asset" class="waves-effect">
                                <i class="dripicons-view-list-large"></i>
                                <span> Bakım Planları <span class="badge badge-success badge-pill float-right"></span></span>
                            </a>
                        </li>
                               
                        <li>
                            <a href="Asset" class="waves-effect">
                                <i class="dripicons-archive"></i>
                                <span> Malzemeler <span class="badge badge-success badge-pill float-right"></span></span>
                            </a>
                        </li>
                               
                        <li>
                            <a href="Asset" class="waves-effect">
                                <i class="dripicons-document-remove"></i>
                                <span> Raporlar <span class="badge badge-success badge-pill float-right"></span></span>
                            </a>
                        </li>
                              
                        <li>
                            <a href="Asset" class="waves-effect">
                                <i class="dripicons-disc"></i>
                                <span>  Malzeme Atamaları <span class="badge badge-success badge-pill float-right"></span></span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="clearfix"></div>
            </div> <!-- end sidebarinner -->
        </div>
        <div class="content-page">
            <!-- Start content -->
            <div class="content">

                <!-- Top Bar Start -->
                <div class="topbar">

                    <div class="topbar-left	d-none d-lg-block">
                        <div class="text-center">

                            <a href="Dashboard" class="logo"><img src="~/images/GeoBilgiLogo.png" height="40" alt="logo"></a>
                        </div>
                    </div>

                    <nav class="navbar-custom">

                        <ul class="list-inline float-right mb-0">
                            <li class="list-inline-item notification-list dropdown d-none d-sm-inline-block">
                                <form role="search" class="app-search">
                                    <div class="form-group mb-0">
                                        <input type="text" class="form-control" placeholder="Ara..">
                                        <button type="submit"><i class="fa fa-search"></i></button>
                                    </div>
                                </form>
                            </li>
                            <li class="list-inline-item dropdown notification-list">
                                <a class="nav-link dropdown-toggle arrow-none waves-effect" data-toggle="dropdown" href="#" role="button"
                                   aria-haspopup="false" aria-expanded="false">
                                    <i class="mdi mdi-email-outline noti-icon"></i>
                                    <span class="badge badge-danger badge-pill noti-icon-badge">5</span>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right dropdown-menu-animated dropdown-menu-lg">
                                    <!-- item-->
                                    <div class="dropdown-item noti-title">
                                        <span class="badge badge-danger float-right">367</span>
                                        <h5>Messages</h5>
                                    </div>
                                    <div class="slimscroll" style="max-height: 230px;">
                                        <!-- item-->
                                        <a href="javascript:void(0);" class="dropdown-item notify-item">
                                            <div class="notify-icon"><img src="images/users/user-2.jpg" alt="user-img" class="img-fluid rounded-circle" /> </div>
                                            <p class="notify-details"><b>Charles M. Jones</b><span class="text-muted">Dummy text of the printing and typesetting industry.</span></p>
                                        </a>

                                        <!-- item-->
                                        <a href="javascript:void(0);" class="dropdown-item notify-item">
                                            <div class="notify-icon"><img src="images/users/user-3.jpg" alt="user-img" class="img-fluid rounded-circle" /> </div>
                                            <p class="notify-details"><b>Thomas J. Mimms</b><span class="text-muted">You have 87 unread messages</span></p>
                                        </a>

                                        <!-- item-->
                                        <a href="javascript:void(0);" class="dropdown-item notify-item">
                                            <div class="notify-icon"><img src="images/users/user-4.jpg" alt="user-img" class="img-fluid rounded-circle" /> </div>
                                            <p class="notify-details">Luis M. Konrad<span class="text-muted">It is a long established fact that a reader will</span></p>
                                        </a>

                                        <!-- item-->
                                        <a href="javascript:void(0);" class="dropdown-item notify-item">
                                            <div class="notify-icon"><img src="images/users/user-5.jpg" alt="user-img" class="img-fluid rounded-circle" /> </div>
                                            <p class="notify-details"><b>Kendall E. Walker</b><span class="text-muted">Dummy text of the printing and typesetting industry.</span></p>
                                        </a>

                                        <!-- item-->
                                        <a href="javascript:void(0);" class="dropdown-item notify-item">
                                            <div class="notify-icon"><img src="images/users/user-6.jpg" alt="user-img" class="img-fluid rounded-circle" /> </div>
                                            <p class="notify-details"><b>David M. Ryan</b><span class="text-muted">You have 87 unread messages</span></p>
                                        </a>
                                    </div>


                                    <!-- All-->
                                    <a href="javascript:void(0);" class="dropdown-item notify-all">
                                        View All
                                    </a>

                                </div>
                            </li>

                            <li class="list-inline-item dropdown notification-list">
                                <a class="nav-link dropdown-toggle arrow-none waves-effect" data-toggle="dropdown" href="#" role="button"
                                   aria-haspopup="false" aria-expanded="false">
                                    <i class="mdi mdi-bell-outline noti-icon"></i>
                                    <span class="badge badge-success badge-pill noti-icon-badge">3</span>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right dropdown-menu-animated dropdown-menu-lg">
                                    <!-- item-->
                                    <div class="dropdown-item noti-title">
                                        <span class="badge badge-danger float-right">84</span>
                                        <h5>Notification</h5>
                                    </div>

                                    <div class="slimscroll" style="max-height: 230px;">

                                        <!-- item-->
                                        <a href="javascript:void(0);" class="dropdown-item notify-item">
                                            <div class="notify-icon bg-primary"><i class="mdi mdi-cart-outline"></i></div>
                                            <p class="notify-details">Your order is placed<span class="text-muted">Dummy text of the printing and typesetting industry.</span></p>
                                        </a>

                                        <!-- item-->
                                        <a href="javascript:void(0);" class="dropdown-item notify-item">
                                            <div class="notify-icon bg-success"><i class="mdi mdi-message"></i></div>
                                            <p class="notify-details">New Message received<span class="text-muted">You have 87 unread messages</span></p>
                                        </a>

                                        <!-- item-->
                                        <a href="javascript:void(0);" class="dropdown-item notify-item">
                                            <div class="notify-icon bg-warning"><i class="mdi mdi-martini"></i></div>
                                            <p class="notify-details">Your item is shipped<span class="text-muted">It is a long established fact that a reader will</span></p>
                                        </a>
                                        <!-- item-->
                                        <a href="javascript:void(0);" class="dropdown-item notify-item">
                                            <div class="notify-icon bg-danger"><i class="mdi mdi-message"></i></div>
                                            <p class="notify-details">New Message received<span class="text-muted">You have 87 unread messages</span></p>
                                        </a>

                                        <!-- item-->
                                        <a href="javascript:void(0);" class="dropdown-item notify-item">
                                            <div class="notify-icon bg-info"><i class="mdi mdi-martini"></i></div>
                                            <p class="notify-details">Your item is shipped<span class="text-muted">It is a long established fact that a reader will</span></p>
                                        </a>
                                    </div>

                                    <!-- All-->
                                    <a href="javascript:void(0);" class="dropdown-item notify-all">
                                        View All
                                    </a>

                                </div>
                            </li>

                            <li class="list-inline-item dropdown notification-list">
                                <a class="nav-link dropdown-toggle arrow-none waves-effect nav-user" data-toggle="dropdown" href="#" role="button"
                                   aria-haspopup="false" aria-expanded="false">
                                    <img src="images/users/user-1.jpg" alt="user" class="rounded-circle">
                                </a>
                                <div class="dropdown-menu dropdown-menu-right dropdown-menu-animated profile-dropdown ">
                                    <a class="dropdown-item" href="#"><i class="mdi mdi-account-circle m-r-5 text-muted"></i> Profile</a>
                                    <a class="dropdown-item" href="#"><span class="badge badge-success mt-1 float-right">5</span><i class="mdi mdi-settings m-r-5 text-muted"></i> Settings</a>
                                    <a class="dropdown-item" href="#"><i class="mdi mdi-lock-open-outline m-r-5 text-muted"></i> Lock screen</a>
                                    <a class="dropdown-item" href="#"><i class="mdi mdi-logout m-r-5 text-muted"></i> Logout</a>
                                </div>
                            </li>

                        </ul>

                        <ul class="list-inline menu-left mb-0">
                            <li class="list-inline-item">
                                <button type="button" class="button-menu-mobile open-left waves-effect">
                                    <i class="ion-navicon"></i>
                                </button>
                            </li>
                        </ul>

                        <div class="clearfix"></div>

                    </nav>

                </div>
                <!-- Top Bar End -->
                </header>
                <main role="main" class="pb-3">
                    @RenderBody()
                </main>

                <footer class="footer">
                    ©2024 <b>CMMS</b> <span class="d-none d-sm-inline-block"> - Powered <i class="mdi mdi-heart text-danger"></i> by Geobilgi.</span>
                </footer>
                <script asp-append-version="true" src="~/js/jquery.min.js"></script>
                <script asp-append-version="true" src="~/js/bootstrap.bundle.min.js"></script>
                <script asp-append-version="true" src="~/js/modernizr.min.js"></script>
                <script asp-append-version="true" src="~/js/detect.js"></script>
                <script asp-append-version="true" src="~/js/fastclick.js"></script>
                <script asp-append-version="true" src="~/js/jquery.slimscroll.js"></script>
                <script asp-append-version="true" src="~/js/jquery.blockUI.js"></script>
                <script asp-append-version="true" src="~/js/waves.js"></script>
                <script asp-append-version="true" src="~/js/jquery.nicescroll.js"></script>
                <script asp-append-version="true" src="~/js/jquery.scrollTo.min.js"></script>
                <script asp-append-version="true" src="~/plugins/skycons/skycons.min.js"></script>
                <script asp-append-version="true" src="~/plugins/peity/jquery.peity.min.js"></script>
                <script asp-append-version="true" src="~/plugins/morris/morris.min.js"></script>
                <script asp-append-version="true" src="~/plugins/raphael/raphael-min.js"></script>
                <script asp-append-version="true" src="~/pages/dashboard.js"></script>
                <script asp-append-version="true" src="~/js/app.js"></script>
                @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
